<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.tcc.unicid.photostamp">

    <application tools:replace="android:icon"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SingUpActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".TagActivity" />
        <activity android:name=".ThemeActivity" />
        <activity android:name=".GridActivity" />
        <activity android:name=".GalleryWallActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_tela_menu"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>